[submodule "commonItems"]
	path = commonItems
	url = https://github.com/ParadoxGameConverters/commonItems
[submodule "imageMagick"]
	path = imageMagick
	url = https://github.com/ParadoxGameConverters/imageMagick
